.nav-item:hover {
    background: #00000031 !important;
}

.messages-header {
    overflow: hidden;
    color: white;
}

.messages-header-text {
    float: left;
    color: white;
}

.messages-header-button {
    padding-top: 7px;
}

.message-card {
    margin-bottom: 20px;
    background-color: #27A967 !important;
    border: 1px solid white;
}

.message-card .card-header {
    margin-top: 2px;
    background-color: #27A967 !important;
}

.message-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.message-avatar img {
    width: 50px;
    height: 50px;
}

.message-user {
    color: white;
    display: block;
}

.message-user h3 {
    margin-bottom: 0px;
}

.message-text {
    color: black;
}

.button-trash {
    border-radius: 6.25rem;
    height: 2.4375rem;
    margin-top: 0.3125rem;
}

.span-trash {
    margin-top: 5px;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}

a {
    color: white;
}