.publication-card {
    margin-bottom: 20px;
    background-color: #27A967 !important;
}

.publication-card .card-header {
    background-color: #27A967 !important;
}

.card-header {
    margin-top: 2px;
}

.card-img {
    width: 100%;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

.no-image {
    filter: contrast(5) !important;
}

.follow-buttons {
    text-align: right;
}

.publication-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.publication-avatar img {
    width: 50px;
    height: 50px;
}

.publication-user {
    color: white;
    display: block;
}

.publication-user h3 {
    margin-bottom: 0px;
}

.publication-text {
    color: black;
}

.publication-my {
    border: 2px;
    border-color: white;
    border-style: solid;
}

.button-trash {
    border-radius: 6.25rem;
    height: 2.4375rem;
    margin-top: 0.3125rem;
}

.span-trash {
    margin-top: 5px;
}

.crop {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}