<div class="general-container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenid@ a MiREDE</h1>
        <p class="lead">Disfruta de las publicaciones de tus amig@s y comparte tu día!!!</p>
        <hr class="my-4">

        <div class="row justify-content-center">
            <div class="col-lg-4 ">
                <h1 class="h1-strong">{{title}}</h1>

                <div class="alert alert-dismissible alert-success" *ngIf="status == 'success'">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> Login correcto!!
                </div>
                <div class="alert alert-dismissible alert-danger" *ngIf="status == 'error'">
                    <button type="button" class="close" data-dismiss="alert">&times;</button> El login no ha podido completarse, comprueba tu email y/o password
                </div>

                <form #loginForm="ngForm" (ngSubmit)='onSubmit(loginForm)'>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
                        <span *ngIf="!email.valid && email.touched" class="text-danger">
							El email es obligatorio!!
						</span>
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
                        <span *ngIf="!password.valid && password.touched" class="text-danger">
							La contraseña es obligatoria!!
						</span>
                    </div>

                    <div class="derecha">
                        <input type="submit" value="Enviar" class="btn btn-primary" [disabled]="!loginForm.form.valid" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>