<nav class="navbar navbar-expand-lg fixed-top navbar-dark" style="background-color: #52BE80;">
    <div class="container">
        <a class="navbar-brand text-white mb-2" href="#">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto" *ngIf='identity'>
                <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link" [routerLink]="['/home']">
                        <span class="fas fa-home"></span> Inicio
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link" [routerLink]="['/gente']">
                        <span class="fas fa-users"></span> Gente
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link" [routerLink]="['/timeline']">
                        <span class="fas fa-list-ul"></span> Timeline
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" data-toggle="collapse" data-target="#navbarResponsive">
                    <a class="nav-link" [routerLink]="['/mensajes']">
                        <span class="fas fa-envelope"></span> Mensajes
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle avatar-name" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img class="avatar" src="{{ url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image" alt="Card image" />
                        <img class="avatar" src="assets/images/usuario.png" *ngIf="!identity.image" alt="Card image" /> {{identity.name}}
                        <span class="caret"></span>
                    </a>

                    <div class="dropdown-menu" data-toggle="collapse" data-target="#navbarResponsive">
                        <a class="dropdown-item" [routerLink]="['/perfil', identity._id]">
                            <span class="far fa-user-circle"></span> Mi perfil
                        </a>
                        <a class="dropdown-item" [routerLink]="['/mis-datos']">
                            <span class="fas fa-clipboard-list"></span> Mis datos
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">
                            <span class="fas fa-sign-out-alt"></span> Cerrar sesión
                        </a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav ml-auto" *ngIf='!identity'>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/login']">
                        <span class="fas fa-sign-in-alt"></span> Iniciar sesión
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" [routerLink]="['/register']">
                        <span class="fas fa-user-plus"></span> Regístrarse
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>