.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}

.navbar-brand {
    font-weight: bold;
    font-size: 2.5rem !important;
    padding: 0 0 0 0 !important;
}

.nav-link {
    font-size: 1.1rem !important;
    padding-top: 1px !important;
    /*padding-bottom: 1.1rem !important;*/
}

.nav-item:hover {
    outline: none;
}

.dropdown-menu .dropdown-item {
    font-size: 1rem !important;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    overflow: hidden;
}

.avatar-name {
    margin-top: -0.3rem;
}