/** 
*** GENERALES
**/

.section-header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #59319638 !important;
}

.section-header h1 {
    font-size: 35px;
    font-weight: bold;
}

.general-container {
    margin-top: 115px;
}

.text-yellow {
    color: white !important;
}

.text-white {
    color: white !important;
}

.center {
    display: flex !important;
    justify-content: center;
}

.derecha {
    display: flex !important;
    justify-content: flex-end;
}

.border-danger {
    border: 2px solid #FC3939 !important;
}

.img-loading {
    width: 35%;
    display: block;
    margin: auto;
}


/** fin GENERALES **/


/** 
*** HOME, LOGIN y REGISTER
**/

.jumbotron {
    background-color: #27A967 !important;
    text-align: center;
    color: white;
}

.display-4 {
    font-weight: bold !important;
    color: whitesmoke;
}

body {
    background-color: #27A967 !important;
}

.card-header {
    background-color: cadetblue;
}


/** fin HOME, LOGIN y REGISTER **/