<div class="row">
    <div class="general-container col-lg-8 ">
        <div class="section-header" style="color: white;">
            <h1>{{title}}</h1>
        </div>

        <div class="loading" *ngIf="loading">
            <img class="img-loading" src="../../assets/images/load2.gif" alt="Loading image" />
        </div>

        <!-- LISTADO -->
        <div *ngIf="users && !loading; then hay; else nohay"></div>
        <ng-template #hay>
            <div *ngFor="let user of users">
                <div class="card bg-info col-lg-12" *ngIf=" user._id != identity._id ">
                    <div class="row">
                        <div class="col-lg-3">
                            <img class="card-img" src="{{ url + 'get-image-user/' + user.image }}" *ngIf="user.image" alt="Card image" />
                            <img class="card-img no-image" src="assets/images/usuario.png" *ngIf="!user.image" alt="Card image" />
                        </div>

                        <div class="card-body col-lg-7">
                            <a [routerLink]="['/perfil', user._id]" class="card-link">
                                <h4 class="user-name text-yellow">{{user.name +' '+ user.surname}}</h4>
                            </a>
                            <h6 class="user-nick">{{user.nick}}</h6>
                            <br>
                            <p class="lead text-white"><em>{{user.status}}</em></p>
                        </div>

                        <!-- SECCIÓN FOLLOWS -->
                        <div class="card-body col-lg-2">
                            <div class="follow-buttons">
                                <button class="btn btn-success btn-sm" *ngIf=" follows.indexOf(user._id) < 0" (click)="followUser(user._id)">
								<span class="fas fa-plus-square"></span>
								Seguir
							</button>
                                <button class="btn btn-danger btn-sm" *ngIf=" follows.indexOf(user._id) >= 0" (click)="deleteFollowUser(user._id)">
								<span class="fas fa-minus-square"></span>
								No seguir
							</button>
                            </div>
                        </div>
                        <!-- FIN SECCIÓN FOLLOWS -->
                    </div>
                </div>
            </div>

            <!-- PAGINACIÓN -->
            <div class="col-lg-12">
                <ul class="pagination center">
                    <li class="page-item" [ngClass]="{disabled : page <= 1 }">
                        <a class="page-link" [routerLink]="['/gente/', prev_page]">&laquo; Anterior</a>
                    </li>
                    <li *ngFor="let pagina of paginas" class="page-item" [routerLinkActive]="['active']">
                        <a class="page-link" [routerLink]="['/gente/', pagina+1]">{{pagina+1}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled : pages == page }">
                        <a class="page-link" [routerLink]="['/gente/', next_page]">Siguiente &raquo;</a>
                    </li>
                </ul>
            </div>
            <!-- FIN PAGINACIÓN -->
        </ng-template>
        <ng-template #nohay>
            <div class="card bg-info border-danger col-lg-12">
                <div class="card-header">
                    <h4 class="user-name text-yellow">No hay más gente!!!</h4>
                </div>
                <div class="card-body text-white">
                    <h5>No hay más usuarios en la plataforma</h5>
                </div>
            </div>
        </ng-template>
    </div>

    <div class="general-container col-lg-4">
        <app-sidebar></app-sidebar>
    </div>
</div>